<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.integrated.platform.mapper.SupervisionPhaseRemindMapper">
  <resultMap id="BaseResultMap" type="com.vingsoft.entity.SupervisionPhaseRemind">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="serv_code" jdbcType="VARCHAR" property="servCode" />
    <result column="phase_id" jdbcType="BIGINT" property="phaseId" />
    <result column="phase_name" jdbcType="VARCHAR" property="phaseName" />
    <result column="report_time" jdbcType="TIMESTAMP" property="reportTime" />
    <result column="reminder_time" jdbcType="BIGINT" property="reminderTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, serv_code, phase_id, phase_name, report_time, reminder_time
  </sql>

</mapper>
